<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  I’m currently part of a team that is dedicated towards preserving Asian film heritage. We have numerous films under our care, more notably, the Cathay-Keris Malay Classics, which is officially listed with the UNESCO Memory Of The World Asia-Pacific Regional Register.
  <p>
  Outside of work, I enjoy sailing and taking long strolls in supermarkets to admire the neatly stacked rows of local condiments - much like the film reels I take pride in organising at work.
</div>
