/* _darkmode.scss */

body.darkmode .highlight {
  background-color: #1d2f4a;
}

body.darkmode {
  border-top: 5px solid #03dac6;
  background-color: #1e1e1e;
  color: #ffffff;
}

body.darkmode strong,
body.darkmode b,
body.darkmode .bold {
  color: #ffffff;
}

body.darkmode .content .page-title,
body.darkmode .page-title,
body.darkmode .post-title,
body.darkmode .post-title a,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4 {
  color: #bbf6ac;
}

body.darkmode .message,
body.darkmode .container,
body.darkmode .content,
body.darkmode .footer,
body.darkmode .nav-main {
  background-color: #1e1e1e;
}

body.darkmode .nav-main ul {
  border-bottom-color: #ffffff;
}

body.darkmode .nav-main li a,
body.darkmode .nav-main li.logo a,
body.darkmode .nav-main .dark-mode-toggle,
body.darkmode .footer,
body.darkmode .container,
body.darkmode .content {
  color: #ffffff;
}

body.darkmode .footer a,
body.darkmode .content .page-title {
  color: #03dac6;
}

body.darkmode .hvr-underline-reveal {
  position: relative;
  display: inline-block;
}

body.darkmode .hvr-underline-reveal::before {
  background-color: #bbf6ac;
}

body.darkmode img {
  border-radius: 5px;
}

body.darkmode html {
  color: #ffffff;
}

/* Set color for the right circle icon */
.fa-regular.fa-circle-right {
  color: #03dac6;
}

/* Set color for the left circle icon */
.fa-regular.fa-circle-left {
  color: #03dac6;
}
